<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="myHelloWorld" class="pl.coderslab.spring.HelloWorld">
        <constructor-arg value="Roman"/>
    </bean>

    <bean id="szczecin" class="pl.coderslab.spring.City">
        <constructor-arg name="name" value="Szczecin"/>
        <constructor-arg name="boss" value="Krzysztof Jerzyna"/>
    </bean>

    <bean id="dawidHello" class="pl.coderslab.spring.HelloWorld">
        <constructor-arg value="Dawid"/>
        <property name="city" ref="szczecin"/>
    </bean>
</beans>